/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

body {
	background-color: #669999;
}
h1 {
	font-size: 3vw;
	color: black;
	font-family: "Julius Sans One", sans-serif;
}
h2 {
	font-size: 3vw;
	color: black;
	font-family: "Julius Sans One", sans-serif;
}
p {
	font-size: 2vw;
	color: black;
	font-family: "Quicksand", sans-serif;
}

/*Nav-bar*/
.nav {
	color: #476b6b;
	padding: 1rem;
	font-family: 'Julius Sans One', sans-serif;
}

.navbar-brand {
	font-size: 3vw;
	color: #476b6b;
	font-family: 'Julius Sans One', sans-serif;
}

#navfont {
	font-family: 'Julius Sans One', sans-serif;
}

#contactContainer #navbarSupportedContent {
	justify-content: center;
}

/*About-Me*/
.dmscus {
	padding: 2rem;
}

/*Projects*/
.projects {
	padding: 2rem;
}

/*Contact*/
.contact {
	text-align: center;
}
.g-recaptcha {
	align-self: center;
}


/*Style inputs with type="text", select elements and text areas */
input[type=submit], input[type="reset"] {
	background-color: black;
	padding: 7px 10px;
	border: none;
	cursor: pointer;
	margin-top: 5px;
}

#name,#email, #message {
	font-size: 2vw;
}

label {
	font-size: 3vw;
}

#formfont {
	font-size: 2vw;
}