/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

body {
	background-color: ghostwhite;
	font-family: 'Quicksand', sans-serif;
}
h1 {
	font-size: 3vw;
	color: black;
}
h2 {
	font-size: 3vw;
	color: black;
}
p {
	font-size: 2vw;
	color: black;
}

/*Nav Bar*/
.nav {
	color: black;
	padding: 1rem;
}

.projects, .dmscus {
}

.navbar-brand {
	font-size: 3vw;
}

/*Navbar*/
#navfont {
	font-family: 'Julius Sans One','Barlow Semi Condensed', sans-serif;



}


/*About-Me*/
.dmscus {
	padding: 2rem;
}

/*Projects*/
.projects {
	padding: 2rem;
}

/*Contact*/
.contact {
	text-align: center;
}
.g-recaptcha {
	align-self: center;
}

.bottom {
}


.fa {
	font-size: 3rem;
}

.fa-twitter-square, .fa-linkedin, .fa-github-square, .fa-envelope-square {
	float: right;
	color: black;
}

/*Style inputs with type="text", select elements and text areas */
input[type=submit], input[type="reset"] {
	background-color: black;
	padding: 7px 10px;
	border: none;
	cursor: pointer;
	margin-top: 5px;
}

#contactContainer #navbarSupportedContent {
	justify-content: center;

}

#name,#email, #message {
	font-size: 2vw;
}

label {
	font-size: 3vw;
}