/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

body {
	background-color: #669999;
	font-size: 2rem;
}
h1 {
	font-size: 1vw;
	color: black;
	font-family: "Julius Sans One", "Arial", sans-serif;
}
h2 {
	font-size: 2rem;
	color: black;
	font-family: "Julius Sans One", "Arial", sans-serif;
}
p {
	color: black;
	font-family: "Quicksand", "Arial", sans-serif;
}

/*Nav-bar*/
.nav {
	color: white;
	padding: 1rem;
	font-family: 'Julius Sans One', sans-serif;
}

.navbar-brand, .nav-font {
	font-size: 1.5rem;
	color: #476b6b;
	font-family: "Julius Sans One", "Arial", sans-serif;
}

#navfont {
	font-family: 'Julius Sans One', sans-serif;
}

#contactContainer #navbarSupportedContent {
	justify-content: center;
}

/*About-Me*/
.dmscus {
	padding: 2rem;
}

/*Projects*/
.projects {
	padding: 2rem;
}

/*Contact*/
.contact-sty {
	background-color: #669999;
}
.g-recaptcha {
	align-self: center;
}


/*Style inputs with type="text", select elements and text areas */
input[type=submit], input[type="reset"] {
	background-color: black;
	padding: 7px 10px;
	border: none;
	cursor: pointer;
	margin-top: 5px;
}

label {
	font-size: 3vw;
}


.text-black {
	color: black;
}

.formfont, .para-font, .foot-font{
font-family: "Julius Sans One", "Arial", sans-serif;
font-size: 2rem;

}