h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 4vw;
	color: #ddd3d3;
}
h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 3vw;
	color: #ddd3d3;
}
p {
	font-family: 'Quicksand', sans-serif;
	font-size: 2vw;
	color: #c3bcbc;

}


/*About-Me*/
.dmscus {
	background-color: #666;
}




/*Projects*/
.projects {
	background-color: #3e3b3b;
}



/*Contact*/
.contact {
	background-color: transparent;
}

.fa {
	font-size: 3rem;
}

.fa-twitter-square, .fa-linkedin, .fa-github-square {
	float: right;

}

h3 {
	font-family: 'Quicksand', sans-serif;
	font-size: 3vw;
	color: #000;
}



